$main-color: #b2224f;
$secondary-color: #210712;
$text-color: #8e7884; 
$inverted-color: white;

$main-font:'Ubuntu', sans-serif;
$secondary-font:'Poppins', sans-serif;

$from-tablet: 768px;
$from-pc:1200px;